.ssssss{
    border: 2px solid #a9a9a9 !important;
    box-shadow: none !important;
    border-radius: 12px !important;
    color: #575757 !important;
    font-weight: 500 !important;
    width: 100% !important;
}
.sss{
    width: 45% !important;  
}