.caard_updated_heaing{
    font-weight: 600 !important;
    color: rgb(4, 17, 29) !important;
    font-size: 20px !important;

}

.up_sub_h{
    color: rgb(100, 109, 117);
    font-weight: 600 !important;
}
.up_sub_hh{
    color: rgb(4, 17, 29) !important;
    font-weight: 600 !important;
}